@import url("../css/reset.css");
@import url("../css/header.css");
@import url("../css/welcome.css");
@import url("../css/footer.css");
@import url("../css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #555;
  height: 100%;
}
body.lock {
  overflow: hidden;
}

html {
  height: 100%;
}

.louder {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767.98px) {
  .louder {
    gap: 25px;
  }
}
.louder span {
  background: #000;
  width: 40px;
  height: 150px;
}
@media (max-width: 767.98px) {
  .louder span {
    width: 20px;
    height: 75px;
  }
}
.louder.remove {
  opacity: 0;
  z-index: -1;
}
.louder #span1 {
  -webkit-animation-name: span1;
          animation-name: span1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.louder #span2 {
  -webkit-animation-name: span1;
          animation-name: span1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.louder #span3 {
  -webkit-animation-name: span1;
          animation-name: span1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes span1 {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes span1 {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes span2 {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes span2 {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes span3 {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes span3 {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.wrapper {
  background: url("../img/intro/1.jpg") no-repeat;
  background-size: cover;
  background-position: 0 0;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  color: #0073c0;
}
a:hover {
  text-decoration: underline;
}